<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content" align="center">
        {{>header}}
        <img class="portrait" src="/img/me.png">
        <h5>This is me . The most weired person.</h5>
        <h5>I designed this just for fun.<br>And i have nothing to write.</h5>
    </div>
    
    {{>footer}}
</body>

</html>